.hidden {
    visibility: hidden;
    display: none;
}

.authors {
    border-radius: 1rem;
    background-color: lightskyblue;
    padding: 1rem;
    margin: 5rem 1rem 1rem;

}

.nav-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

.center-contents {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

.other-wrapper {
    width: 100%
}

.nav-group {
    padding: 1rem;
    background-color: lightskyblue;
    border-radius: 1rem;
}

.buy-div {
    border-radius: 1rem;
    padding: 1rem;
    width: 95%;
    margin: 1rem;
    background-color: lightskyblue;
}

.limit-height {
    height: 15rem !important;
}

.limit-img {
    width: 5rem;
    height: 5rem;
}

.pad-left {
    padding-left: 2rem;
}

.body-css {
    background-color: #de0000;
/*     background-image: url("img/soviet.jpeg"); */
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
    /*background-position: center center;              !* optional, center the image *!*/
}

.powerProduce {
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    background-color: darkgrey;
}

.waterStore {
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    background-color: lightseagreen;
}

.title-div {
    margin: auto;
    margin-top: 2.5rem;
    text-align: center;
    border-radius: 2.5rem;
    background-color: darkblue;
    color: white;
    height: 90%;
    width: 90%;
    border: solid black 0.125rem;
}

.ask-div {
    border-radius: 1rem;
    margin: auto;
    align-content: center;
    text-align: center;
    width: 50%;
    padding: 1rem;
    background-color: lightskyblue;
}
